.taskWrapper {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}
.taskHeader {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;

  button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    height: auto;
    overflow: hidden;
    padding: 0.8rem 2rem;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #646ff0;
    color: #fff;
  }

  select {
    background-color: #cccdde;
    border: none;
    color: #646681;
    cursor: pointer;
    font-family: Poppins;
    padding: 0.5rem;
    // width: 150px;
    border-radius: 6px;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    // height: auto;
    text-decoration: none;
    text-transform: capitalize;
  }
}
.taskBody {
  background-color: #ecedf6;
  border-radius: 12px;
  padding: 1.5rem;

  .noTodo {
    background-color: #dedfe1;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
    color: #585858;
    width: max-content;
    width: -webkit-max-content;
    border-radius: 8px;
  }
}

.modalWrapper {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .modalBox {
    background-color: #ecedf6;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 500px;
    width: 90%;
    position: relative;
    padding: 2rem;

    display: flex;
    // justify-content: center;
    align-items: center;
  }

  .closeBtn {
    background-color: #ecedf6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 8px;
    color: #585858;
    position: absolute;
    right: 0px;
    top: -60px;
    transition: all 0.3s ease;

    &:hover {
      background-color: orangered;
    }
  }
}
.form {
  h1 {
    color: #585858;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  label {
    color: #585858;
    font-size: 1rem;

    input {
      background-color: #fff;
      border: none;
      font-size: 1rem;
      margin-bottom: 2rem;
      margin-top: 0.5rem;
      padding: 0.5rem;
      width: 100%;
    }
    select {
      background-color: #fff;
      color: #585858;
      border: none;
      font-size: 1.1rem;
      margin-bottom: 2rem;
      margin-top: 0.5rem;
      padding: 0.5rem;
      width: 100%;
    }
  }
  .modalBtns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;

    .addBtn {
      border: none;
      border-radius: 6px;
      cursor: pointer;
      display: inline-block;
      font-size: 1rem;
      font-weight: 500;
      height: auto;
      overflow: hidden;
      padding: 0.8rem 2rem;
      text-decoration: none;
      text-transform: capitalize;
      background-color: #646ff0;
      color: #fff;
    }
    .cancelBtn {
      border: none;
      border-radius: 6px;
      cursor: pointer;
      display: inline-block;
      font-size: 1rem;
      font-weight: 500;
      height: auto;
      overflow: hidden;
      padding: 0.8rem 2rem;
      text-decoration: none;
      text-transform: capitalize;
      background-color: #cccdde;
      color: #585858;
    }
  }
}
.taskStyle {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 1rem;

  &:last-child {
    margin-bottom: unset;
  }

  .taskBtns {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    div {
      background-color: #ecedf6;
      border-radius: 4px;
      color: #585858;
      cursor: pointer;
      font-size: 18px;
      padding: 6px;
      transition: background-color 0.3s ease;
    }
  }
}
.taskContent {
  p {
    color: #585858;
    font-size: 1rem;
    font-weight: 500;
    word-break: break-all;
  }
}
